<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employment_application.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employment_application.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @employment_application.message %>
</p>

<p>
  <strong>Office location:</strong>
  <%= @employment_application.office_location %>
</p>

<%= link_to 'Edit', edit_employment_application_path(@employment_application) %> |
<%= link_to 'Back', employment_applications_path %>
